/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
menu>div>hr{
	margin-top: 23px;
	width: 400px;
	height: 2px;
	color:  black;
	border:solid black 1px;
	background-color: pink;
	display: inline-block;
}
/*///////////////     H E A D E R     /////////////////////*/
header{
	background-color: #C1C0C0; 
	height: 8%;
}
header>div{
	float: left;
}
header>div>img{
	height: 30px;
}
.h_text{
	margin-left: 215px;
	padding-top: 1%;
	font-size: 40px;
}
.h_img{
	float: right;
	margin: 25px 35px;
	font-size: 25px;
}
.h_gmail{
	float: left;
	margin-left: 35px;
	margin-top: 25px;
	font-size: 25px;
}
/*/////////////    M E N U    /////////////////// */
menu{
	height: 5%;
	text-align: center;
}
menu>div{
	float: left;

}
.menu_bar{
	text-align: center;
	position: relative;
	padding-top: 13px;
}
.menu_bar>li{
	font-size: 20px;
	display: inline-block;
	padding-right: 80px;
}

/*///////////////     S L I D E R     ///////////////////*/
.slider{
	height: 87%;
	width: 100%;
}
.order{
	background-color: blue;
	float: left;
	height: 95%;
	width: 47.5%;
	margin-left: 27px;
	margin-top: 20px;
}
.slide_img{
	float: left;
	margin-left: 70px;
	margin-top: 40px;
	background-color: pink;
	height: 85%;
	width: 42.5%;
}
.img_dov_slider{
	height: 100%;
	width: 100%;
}
.img_dov_slider>img{
	height: 100%;
	width: 100%;
}
.slider_order_text_h2{
	font-size: 60px;
	
}
.h2_div{
	margin-top: 100px;
	margin-left:60px;
}
.span_div_slider{
	font-size: 40px;
	text-align: left;
	width: 500px;
	margin-top: 80px;
	margin-left:60px;
}
.order_butt_slider{
	font-size: 30px;
	text-align: left;
	width: 500px;
	margin-top: 80px;
	margin-left:60px;
}
.order_butt_slider>span{
	background-color: #555454;
	color: red;
	border: solid black 2px;
	border-radius: 100px;
	padding: 10px 20px 10px 20px ;
}
.order_butt_slider>span:hover{
	background-color: #292929;
}

.slider_count>div{
	float: left;
	font-size: 40px;
	padding-right: 20px;
}
.slider_count{
	padding-top:10px;
	padding-left: 320px;
}
/*//////////////////     M A I N      ///////////////////*/
main{
	background-color: red;
	height: 100%;
}
.about_me {
	width: 100%;
	height: 300px;
}
.text_about ,.text_how {
	width: 950px;
	font-size: 35px;
	text-align: justify;
	padding: 0 30px;
}
.about_me>div{
	float: left;
}
.how_work>div{
	float: right;
}
.how_work, .about_me ,main>div>h2 {
	padding: 20px 100px ;
}
.about_img , .how_img{
	width: 300px;
	height: 300px;
}
.about_img>img , .how_img>img{
	width: 100%;
	height: 100%;
}
main>div>h2{
	font-size: 60px	
}
.how_top{
	text-align: right;
}
/*///////////////     W O R K S     /////////////////*/
.my_works{
	width: 100%;
	height: 800px;
}
.hi_work_text{
	text-align: center;
	font-size: 60px;
	margin-top: 30px;
}
.examples{
	float: left;
	width: 350px;
	height: 500px;
	margin-left: 55px;
	margin-top: 50px;
	border: solid black 2px;
	font-size: 20px;
	text-align: justify;
}
.examples>div>img{
	height: 200px;
	margin: 20px 0;
}
.ex_text{
	padding: 10px 20px;
}
.more_but{
	width: 100px;
	margin: 20px 20px;
	padding: 5px;
	border: solid black 2px;
	border-radius: 100px;
}
/*////////////////     C O N T A C T    /////////////////////////*/
.contact{
	height: 70%;
	width: 100%;
	background-color: grey;
}
.contact>div{
	float: left;
}
.contact_text{
	border-radius: 5px;
	max-height: 300px;
	max-width: 500px;
	height: 300px;
	width: 500px;
	text-align: justify;
}
.contact_text_div{
	width: 50%;
	height: 500px;
	text-align: center;
}
.contact_text_div>form{
	margin-top: 30px ;
}
.contact_text_div>div{
	text-align: center;
	font-size: 50px;
	padding: 50px 0 0 0 ;
}
.contact_text_div>form>p{
	margin-top: 25px;
	margin-left: 450px;
}
.contact_text_div>form>div>div>input{
	font-size: 17px;
	height: 25px;
	width: 200px;
}
.contact_text_div>form>textarea{
	font-size: 20px;
}
.contact_text_div>form>div>div{
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
	float: left;
}
.contact_text_div>form>div{
	margin-left: 165px; 
	font-size: 20px;
}
.contact_butt{

}
.contact_info{
	width: 50%;
	font-size: 50px;
	padding: 100px 100px;
	text-align: justify;
}
.contact_info>img{
	height: 50px;
}

/*////////////////     F O O T E R     //////////////////*/
footer{
	background-color: #C1C0C0; 
	height: 30%;
}